# Datathon AI X DATA: Vision Pillar (Spring 2025)

## Overview

### Competition Overview
The goal of this competition is to build or fine-tune a computer vision model to correctly classify sports video game images into one of five different sports genres: Basketball, Volleyball, Tennis, Soccer, and American Football. The contestants will be provided with a dataset consisting of video game images, along with a CSV file that maps the image filenames to their respective sports labels. Contestants will need to develop a model capable of identifying the sport category of each image.

## Import Libraries

In [2]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, GlobalAveragePooling2D
from tensorflow.keras.applications import ResNet50  # Using ResNet50 for demonstration
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import os
import numpy as np

## Data Loading and Preprocessing

In [4]:
TRAIN_CSV_PATH = 'train.csv'
TEST_CSV_PATH = 'test.csv'
IMAGE_DIR = './'

In [9]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

train_df.head()

       filename             class  id
0  images/1.jpg  AmericanFootball   1
1  images/2.jpg  AmericanFootball   2
2  images/3.jpg  AmericanFootball   3
3  images/4.jpg  AmericanFootball   4
4  images/5.jpg  AmericanFootball   5

In [8]:
train_df['class'] = train_df['class'].astype(str)
class_counts = train_df['class'].value_counts()
print("Class Counts:\n", class_counts)

Class Counts:
 class
AmericanFootball    200
Basketball          200
Soccer              200
Tennis              200
Volleyball          200
Name: count, dtype: int64